body{
    width: 1440px;
    margin: 0px auto;
    background-color: #fbfbfb;
    color: #1A1A1A;
}

.name-block, .about, .font-writings, .languages, .glyphs, .digits,
.features, .font-geometry, footer, .font-application{
    margin: 15px 30px;
}

footer .container, .font-application li, .font-application .title, .font-geometry .title,
.features .dingbats .symbols, .features .name, .features .title, .digits .title,
.glyphs .title, .language .box, .languages .title p, .font-writings .title, .font-writings .column-title, 
.font-writings .column-title-italic, .font-name{
    font-family: "Proxima Nova Regular";
}

.abbreviation-name, .story, .font-writings .column-subtitle, .font-writings .column-subtitle-italic,
.glyphs .info, .glyphs .glyph, .digits .text p, .digits .digit-line, .features .symbol,
.features .graphema, .features .zero{
    font-family: "Proxima Nova Light";
} 

.abbreviation-name, .title, .subtitle, .languages .title p, .glyphs .glyph, .digits .title,
.features .title, .features .symbol, .font-geometry .title, .font-application .title{
    font-size: 60px;
}

.abbreviation-name, .features-block, .about, .font-writings .font-grid, .font-writings .font-weight-block,
.languages .title, .languages .table, .languages .language, .glyphs .glyphs-title, .glyphs .lines,
.features, .features .features-block, .features .title-block, .features .box, .features .symbols,
.features .line-sym, .features .dingbats .symbols, .features .fractions .symbols, .features .fractions .line,
.font-application .text-block, footer .container{
    display: flex;
}

.horizontal-line{
    height: 1.5px;
    background-color: #C3C3C3;
    width: 100%;
    margin-top: 30px;
}

.features-block{
    justify-content: center;
}

.font-name{
    font-size: 190px;
}

.about{
    margin-top: 100px;
    justify-content: space-between;
}

.title, .subtitle{
    font-family: "Proxima Nova SemiBold";
}

.about .title{
    width: 16%;
    line-height: 0.8;
}

.about .title img{
    margin-top: 15px;
}

.about .arrow, .font-story{
    margin-left: 20px;
}

.font-story .story-title{
    width: 40%;
}

.subtitle{
    margin-top: 20px;
    font-size: 30px;
}

.story{
    font-size: 30px;
    margin-bottom: 30px;
}

.story-one{
    margin-top: 50px;
}

.font-writings{
    margin-top: 100px;
}

.font-writings .outline{
    height: 900px;
    padding: 20px;
    margin: 0 auto;
    background-image: url(../img/border-weights.svg);
    background-repeat: no-repeat;
}

.font-writings .font-grid{
    margin-top: 80px;
}

.font-writings .title{
    margin-top: -30px;
}

.font-writings .column, .font-writings .title{
    margin-left: 30px;
}
  
.font-writings .title, .font-writings .column-title, 
.font-writings .column-title-italic {
    font-size: 45px;
    line-height: 0.8;
}

.font-writings .column-title-italic{
    font-family: "Proxima Nova Regular Italic";
    font-style: italic;
}

.font-writings .column-subtitle, 
.font-writings .column-subtitle-italic{
    font-size: 25px;
    line-height: normal;
}

.font-writings .column-subtitle-italic{
    font-family: "Proxima Nova Light Italic";
    font-style: italic;
}

.font-writings .font-grid{
    justify-content: space-between;
}

.font-writings .font-weights{
    margin: 100px 0 0 10px;
}

.font-writings .italic-block{
    margin-right: 50px;
}

.font-writings .font-weights p{
    margin-top: 40px;
}

.font-writings .font-weights, .features .name, .features .dingbats .symbols,
.font-geometry .title-block .subtitle, .font-application li, footer .container{
    font-size: 40px;
} 

.font-writings .italic {
    font-style: italic;
} 

.font-writings .font-weights .thin{font-family: "Proxima Nova Thin";}
.font-writings .italic .thin{font-family: "Proxima Nova Thin Italic";}
.font-writings .font-weights .light{font-family: "Proxima Nova Light";}
.font-writings .italic .light{font-family: "Proxima Nova Light Italic";}
.font-writings .font-weights .regular{font-family: "Proxima Nova Regular";}
.font-writings .italic .regular{font-family: "Proxima Nova Regular Italic";}
.font-writings .font-weights .semibold{font-family: "Proxima Nova SemiBold";}
.font-writings .italic .semibold{font-family: "Proxima Nova SemiBold Italic";}
.font-writings .font-weights .bold{font-family: "Proxima Nova Bold";}
.font-writings .italic .bold{font-family: "Proxima Nova Bold Italic";}
.font-writings .font-weights .extrabold{font-family: "Proxima Nova ExtraBold";}
.font-writings .italic .extrabold{font-family: "Proxima Nova ExtraBold Italic";}
.font-writings .font-weights .black{font-family: "Proxima Nova Black";}
.font-writings .italic .black{font-family: "Proxima Nova Black Italic";}

.languages .title{
    margin-top: 110px;
    justify-content: space-between;
}

.languages .title .digit{
    font-family: "Proxima Nova SemiBold";
    font-size: 120px;
    margin-top: 30px;
}

.languages .title .line-one{
    height: 50px;
    margin-top: 45px;
}

.languages .title .line-two{
    height: 60px;
    margin-top: 35px;
}

.languages .table {
    margin-top: 80px;
    flex-direction: column;
}

.languages .language {
    justify-content: flex-start;
}

.language .number {
    font-family: "Proxima Nova Bold";
    font-size: 35px;
}

.language .lang-part{
    margin-left: 16%;
}

.languages .line{
    height: 1px;
    background-color: #000;
    width: 100%;
    margin: 20px 0;
}

.language .language-title {
    font-family: "Proxima Nova SemiBold";
    font-size: 35px;
    margin-bottom: 15px;
}

.language .box{
    font-size: 30px;
    text-wrap: wrap;
}

.glyphs{
    margin-top: 120px;
}

.glyphs .glyphs-title{
   justify-content: space-between;
   align-items: center;
}

.glyphs .line{
    margin-left: 30px;
    height: 2px;
    background-color: #C3C3C3;
    width: 100%;
}

.glyphs .info{
    font-size: 24px;
    width: 40%;
}

.glyphs .lines{
    justify-content: space-between;
    align-items: center;
}

.glyphs .table {
    margin-top: 55px;
}

.glyphs .glyph {
    border: 1px solid #C3C3C3;
    width: 6%;
    text-align: center;
    padding: 20px;
}

.digits{
    margin-top: 80px;
}

.digits .text p{
    font-size: 24px;
    width: 50%;
    margin: 40px 0 20px 0;
}

.digits .line{
    height: 3px;
    background-color: #C3C3C3;
    width: 100%;
}

.digits .line-down{
    margin-top: -10px;
}

.digits .digit-line{
    font-size: 200px;
    letter-spacing: -9px;
    line-height: 140px;
}

.digits .simple-digits{
    margin-top: 150px;
}

.digits .old-digits{
    margin-top: 100px;
    font-variant-numeric: oldstyle-nums;
}

.features{
    margin-top: 100px;
}

.features .features-block{
    margin-top: 125px;
    justify-content: flex-start;
}

.features .column-two{
    margin: 80px 0 0 80px;
}

.features .title-block{
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.features .symbols{
    margin-left: 50px;
    justify-content: space-between;
}

.features .symbol{
    margin-left: 30px;
}

.features .lig{
    font-variant-ligatures: contextual;
}

.features .graphems{
    margin-top: 80px;
}

.features .graph-sym{
    flex-direction: column;
}

.features .line-sym{
    margin-bottom: 30px;
}

.features .line-sym .symbol{
    width: 8%;
    text-align: center;
    margin-left: 15px;
}

.features .line-sym img{
    margin: 25px 0 0 20px;
}

.features .graphema{
    font-variant-ligatures:contextual;
    -moz-font-feature-settings: "salt" 2;
    -webkit-font-feature-settings: "salt" 2;
    font-feature-settings: "salt" 2;
    text-align: center;
}

.features .zero{
    font-variant-ligatures:contextual;
    font-variant-numeric: slashed-zero;
}

.features .dingbats .symbols{
    text-align: center;
}

.features .fractions{
    margin-top: 130px;
}

.features .fractions .name{
    width: 28%;
}

.features .fractions .symbols{
    flex-direction: column;
}

.features .fractions .line{
    flex-direction: row;
}

.features .fractions .symbol{
    width: 10%;
}

.features .fraction{
    font-variant-numeric: diagonal-fractions;
    margin-left: 150px;
}

.features .lines{
    position: absolute;
    margin: 130px 0 0 470px;
}

.font-geometry .title{
    margin-top: 100px;
}

.font-geometry .image-block{
    margin: 100px 0;
}

.font-geometry img{
    width: 100%;
}

.font-geometry .title-block{
    margin-top: 230px;
    position: absolute;
}

.font-geometry .title-block .subtitle{
    margin: 0 0;
}

.font-geometry .title-block .title{
    margin: -30px 0 0 -21px;
    font-size: 322px;
    font-family: "Proxima Nova SemiBold";
}

.font-application{
    margin-top: 100px;
}

.font-application .text-block{
    justify-content: space-between;
}

.font-application .title{
    line-height: 0.8;
    width: 350px;
}

.font-application .application{
    margin: 200px 50px 0 0;
}

.font-application li{
    line-height: 1.4;
}

.font-application img{
    width: 100%;
    margin-top: -360px;
}

footer .line{
    width: 100%;
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(
      to right,
      #ccc 0,
      #ccc 15px,
      transparent 10px,
      transparent 30px 
  ) 1;
}

footer .container{
    margin: 50px 0;
    justify-content: space-between;
}