body{
    width: 1440px;
    margin: 0px auto;
    background-color: #fdfdfd;
}

.name-block, .about, .font-writings, .languages, .glyphs, .digits{
    margin: 15px 30px;
}

.abbreviation-name{
    display: flex;
    font-family: "Proxima Nova Light";
    font-size: 60px;
}

.horizontal-line{
    height: 1.5px;
    background-color: #C3C3C3;
    width: 100%;
    margin-top: 30px;
}

.features-block{
    display: flex;
    justify-content: center;
}

.font-name{
    font-family: "Proxima Nova Regular";
    font-size: 190px;
}

.about{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.title, .subtitle{
    font-family: "Proxima Nova SemiBold";
    font-size: 60px;
}

.about .title{
    width: 16%;
    line-height: 0.8;
}

.title img{
    margin-top: 15px;
}

.arrow{
    margin-left: 20px;
}

.font-story{
    margin-left: 20px;
}

.font-story .story-title{
    width: 40%;
}

.subtitle{
    margin-top: 20px;
    font-size: 30px;
}

.story{
    font-family: "Proxima Nova Light";
    font-size: 30px;
    margin-bottom: 30px;
}

.story-one{
    margin-top: 50px;
}

.font-writings{
    margin-top: 100px;
    width: auto;
    height: 900px;
}

.languages .title{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.languages .title p{
    font-family: "Proxima Nova Regular";
    font-size: 60px;
}

.languages .title .digit{
    font-family: "Proxima Nova SemiBold";
    font-size: 120px;
    margin-top: 30px;
}

.languages .title .line-one{
    height: 50px;
    margin-top: 45px;
}

.languages .title .line-two{
    height: 60px;
    margin-top: 35px;
}

.languages .table {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.languages .language {
    display: flex;
    justify-content: flex-start;
}

.language .number {
    font-family: "Proxima Nova Bold";
    font-size: 35px;
}

.language .lang-part{
    margin-left: 16%;
}

.languages .line{
    height: 1px;
    background-color: #000;
    width: 100%;
    margin: 20px 0;
}

.language .language-title {
    font-family: "Proxima Nova SemiBold";
    font-size: 35px;
    margin-bottom: 15px;
}

.language .box{
    font-family: "Proxima Nova Regular";
    font-size: 30px;
    text-wrap: wrap;
}

.glyphs{
    margin-top: 120px;
}

.glyphs .glyphs-title{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.glyphs .line{
    margin-left: 30px;
    height: 2px;
    background-color: #C3C3C3;
    width: 100%;
}

.glyphs .title {
    font-family: "Proxima Nova Regular";
}

.glyphs .info{
    font-family: "Proxima Nova Light";
    font-size: 24px;
    width: 40%;
}

.glyphs .lines{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glyphs .table {
    margin-top: 55px;
}

.glyphs .glyph {
    font-family: "Proxima Nova Light";
    font-size: 60px;
    border: 1px solid #C3C3C3;
    width: 6%;
    text-align: center;
    padding: 20px;
}

.digits{
    margin-top: 80px;
}

.digits .title{
    font-family: "Proxima Nova Regular";
    font-size: 60px;
}

.digits .text p{
    font-family: "Proxima Nova Light";
    font-size: 24px;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.digits .line{
    height: 3px;
    background-color: #C3C3C3;
    width: 100%;
}

.digits .line-down{
    margin-top: -10px;
}

.digits .digit-line{
    font-family: "Proxima Nova Light";
    font-size: 200px;
    letter-spacing: -9px;
    line-height: 140px;
}

.digits .simple-digits{
    margin-top: 150px;
}

.digits .old-digits{
    margin-top: 100px;
    font-variant-numeric: oldstyle-nums;
}